  <div class="col-sm-4 project-tile">
    <h2>
      <a href="#">{{ project.name }}</a>
    </h2>
    <ul>
    {% for stage in project.stages %}
        <li class="{{ 'locked' if stage.locked else '' }}">
            <a href="#" class="stage-link">{{ stage.name }}</a>
            {% if stage.currently_deploying %}<span class="label label-primary">Deploying</span>{% endif %}
            {% if stage.locked %}<i class="fa fa-lock"></i>{% endif %}
            {% if stage.last_deploy %}
            <div class="pull-right">
              {% if stage.last_deploy.is_failed %}
                <a class="no-hover" href="project_deploy_path(project, stage.last_deploy)">
                    <i class="'fa fa-exclamation-triangle deployment-alert"></i>
                </a>
              {% else %}
{#              <a href="{{ project_deploy_path(project, stage.last_deploy) }}" class="status label">{{ stage.last_deploy.short_reference }}</a>#}
              {% endif %}
            </div>
            {% endif %}
          </li>
    {% endfor %}
    </ul>
  </div>
