<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title or config.PROJECT_NAME or "FuckingAwesomeDeploy" }}</title>
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="{{ body_class }}">
    <div class="wrap">
      {% include "shared/header.html" %}
      <div class="container">
        {% include "shared/alerts.html" %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include "shared/footer.html" %}
  </body>
</html>
