<div class="output">
  <div class="clearfix">
    <div class="btn-toolbar pull-right" id="output-toolbar">
      <div id="output-options" class="btn-group only-active">
        <button class="btn btn-default active" id="output-follow">Follow</button>
        <button class="btn btn-default" id="output-steady">Don't Follow</button>
        <button class="btn btn-default" id="output-grow">Expand</button>
      </div>

      <div class="pull-right only-finished">
        <button class="btn btn-default" id="output-grow-toggle">Expand</button>
        <a class="btn btn-primary" href="{{ url_for('project_deploy', project_id=project.id, deploy_id=deploy.id) }}?format=text">Download log</a>
      </div>
    </div>
  </div>
  {% include "deploys/_log.html" %}
</div>
