{% extends "layouts/application.html" %}
{% block content %}
{% with tab="stages" %}
    {% include "projects/_header.html" %}
{% endwith %}

<section class="tabs">
  <ul id="stages" >
      {% for stage in project.stages_data %}
      <li class="stage-bar bar list-unstyled clearfix">
        ::: {{ project.name }}: <a class="edit-stage-btn">{{ stage.name }}</a>
        <div class="btn-group pull-right">
          {% if current_user.is_admin %}
              <a class="btn btn-default clone-stage-btn">Clone</a>
              <a class="btn btn-danger clone-stage-btn" href="{{ url_for('update_project_stages', project_id=project.id, old_stage_name=stage.name) }}?_method=delete">Delete</a>
          {% endif %}
        </div>
      <br>
      <div class="panel panel-default panel-edit-stage" style="display:none; margin-top:20px">
          <div class="panel-heading">Update info of stage</div>
          <div class="panel-body">
          <form class="edit-stage-form" action-url="{{ url_for('update_project_stages', project_id=project.id, old_stage_name=stage.name) }}">
          <fieldset>
              <fieldset>
                  <legend>Info</legend>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Name</label>
                      <div class="col-lg-4">
                        <input type="text" name="name" class="form-control" value="{{ stage.name }}">
                      </div>
                    </div>
              </fieldset>
              <fieldset>
                  <legend>Commands</legend>
                  <p>Add a command which is specific to your project</p>
                  <textarea name="command" class="form-control" rows="4">{{ stage.command }}</textarea>
            </fieldset>
          </fieldset>
          <hr>
          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn btn-default cancel-save-stage">Cancel</a>
        </form>
          </div>
      </div>
      </li>
      {% endfor %}
      <li class="stage-bar bar list-unstyled clearfix new-stage-item" style="display:none;">
        ::: {{ project.name }}: <a class="edit-stage-btn">New stage</a>
      <br>
      <div class="panel panel-default panel-edit-stage" style="margin-top:20px">
          <div class="panel-heading">Update info of stage</div>
          <div class="panel-body">
          <form class="new-stage-form" action-url="{{ url_for('new_project_stages', project_id=project.id) }}">
          <fieldset>
              <fieldset>
                  <legend>Info</legend>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Name</label>
                      <div class="col-lg-4">
                        <input type="text" name="name" class="form-control">
                      </div>
                    </div>
              </fieldset>
              <fieldset>
                  <legend>Commands</legend>
                  <p>Add a command which is specific to your project</p>
                  <textarea name="command" class="form-control" rows="4"></textarea>
            </fieldset>
          </fieldset>
          <hr>

          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn btn-default cancel-save-stage">Cancel</a>
        </form>
          </div>
      </div>
      </li>
  </ul>

  {% if current_user.is_admin %}
      <a class="btn btn-default new-stage-btn">Add stage</a>
  {% endif %}

</section>
{% endblock %}